#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todo_item{
  color: white;
  border: 1px solid #242424;
  cursor: pointer;
  border-radius: 15px;
  opacity: 0.;
}

.todo_item:hover{
  color:#eee;
  opacity: 0.5;
  transition: 0.6s;
  background-color:#242424;
  padding: 10px;
}

.done{
  opacity: 0.5;
  text-decoration: line-through;
}

.todo_display{
  display:flex;
  align-content: space-between;
}

.todo_title{
  float:left;
  font-size:15px;
  text-transform: capitalize;
  width: auto;
  text-align: left;
  color:#ccc;
}